.section {
  width: 80%;
  margin: 1rem auto;
}
.section h1 {
  font-size: 1.5rem;
  color: purple;
  text-align: center;
}
.section .arrow {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.body {
  width: 100%;
}
.container {
  width: 30%;
  margin: auto;
  background: #fff;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container h2 {
  font-size: 1.3rem;
  color: purple;
}
.drug {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.drug label {
  font-size: 1rem;
  color: purple;
  font-weight: bold;
  margin: 0.2rem 0;
}
.drug input {
  border: 1px solid purple;
  padding: 0.5rem 0;
  outline: none;
  border-radius: 0.3rem;
  background: #ccc;
  transition: all 0.2s ease-in;
  font-size: 1rem;
}
.btn {
  display: block;
  margin: 1rem auto;
  width: 20%;
  padding: 1rem 0;
  border: 1px solid #fff;
  background: purple;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}
.action {
  display: flex;
}
.actions {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.btn:active {
  transform: scale(0.5);
}
.form {
  width: 100%;
}
.form input {
  padding: 1rem 0;
  width: 100%;
  border: none;
  outline: none;
  background: #ccc;
  font-size: 1rem;
  text-align: center;
}
.form button {
  padding: 1rem 0;
  width: 100%;
  border: none;
  background: purple;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 850px) {
  .section {
    width: 100%;
  }
  .container {
    width: 90%;
    margin: 2rem auto;
  }
  .btn {
    width: 40%;
    margin: 0.5rem auto;
  }
  .actions {
  }
  .form input {
    width: 100%;
  }
  .form button {
    width: 100%;
  }
}
