.spinner {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner i {
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
  z-index: 10;
  animation: rotate 1s ease-in infinite;
}
@media (max-width: 850px) {
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
