.nurses {
  margin: 0 2rem;
  padding: 2rem 0;
}
.nurses h1 {
  font-size: 1.5rem;
  text-align: center;
}
.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 50%;
  margin: 2rem auto;
}
/* .action button {
  width: 50%;
  font-size: 1rem;
} */
.action a {
  width: 50%;
  text-align: center;
  font-size: 0.9rem;
}
@media (max-width: 850px) {
  .action {
    width: 100%;
  }
}
