.admin {
  width: 100%;
  background: #fff;
  height: 100vh;
  color: purple;
  gap: 2rem;
}
.department {
  margin: auto;
  margin: 2rem;
}
.department h1 {
  font-size: 2rem;
  text-align: center;
}
.department a {
  display: flex;
  flex-direction: column;
  color: purple;
  font-weight: bold;
  margin: 0.5rem 0;
  border: 1px solid purple;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 20%;
  box-shadow: 0 0.2rem 0.7rem 0 #ccc;
}

@media (max-width: 850px) {
  .admin {
    width: 100%;
    margin: auto;
    align-items: start;
    gap: 0;
    justify-content: flex-start;
  }
  .department h1 {
    font-size: 1.3rem;
  }
  .department a {
    width: 60%;
  }
}
